[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
deepdiff = "*"
azure-eventhub = "*"
requests = "*"

[dev-packages]
pylint = "*"
black = "*"
isort = "*"
pre-commit = "*"

[requires]
python_version = "3.9"
